<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Cuộc sống là một hành trình đầy những thăng trầm.
  Những thất bại không phải là điểm dừng, mà là những bài
  học quý báu giúp ta tiến xa hơn. Đừng bao giờ từ bỏ ước
  mơ chỉ vì những khó khăn tạm thời.
</p>